* {
    box-sizing: border-box;
     margin: 0;
    flex-wrap: wrap;
    color: white; 
    
}

body {
    background-image: url(Images/stor.svg);
    background-size: auto;
    background-repeat: no-repeat;
    
}



.section-header {
    position: fixed;
    margin-left: 300px;
    justify-content: center;
    align-items: center;


    color: rgb(185, 36, 36);
}