* {
    box-sizing: border-box;
     margin: 0;
    flex-wrap: wrap;
    color: white; 
    font-family: 'Indie Flower', cursive;
    font-family: 'Pacifico', cursive;
    
}

body {
    background-image: url(Images/back2.png);
    background-size:cover;
    background-repeat: no-repeat;
    
}



.section-header {
    position: fixed;
    margin-left: 300px;
    justify-content: center;
    align-items: center;


    color: rgb(185, 36, 36);
}

a{
font-family: 'Orbitron', sans-serif;
}

h2{
    font-family: 'Caveat', cursive;
    font-size: 48px;
}